#main-div {
    height: 155%;
    width: 100%;
    background-image: url("images/river.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;

   outline: 5px solid black;
}

#top-div {
    width: 400px;
    padding-top: 20px;
    justify-content: center;
    padding-bottom: 20px;
    margin: auto;

}


#img {
    width: 150px;
}

.line1 {
    height: 100px;
    width: 100px;
}

#div {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;

}

#div1 {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;


}

.item-div {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5px;
    border: 1px solid white;
    text-align: center;
    background: black;
    border-radius: 10px;

}

.item-div img {
    width: 100px;
    height: 100px;
}

.item-div2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px;
    border: 1px solid red;
    text-align: center;
    color: red;
    border-radius: 10px;
}
.item-div2 img {
    width: 100px;
    height: 100px;
}

.item-div p {
    color: white;
}

button {
    border: 2px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #4A90E2;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: chartreuse;
    }

.div-car img{
    width: 400px;
    height: 130px;
    border-radius: 15px;
}

.div-car {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 30%;
    margin-right: 25%;
}

.cost {
    font-family: Consolas;
    font-size: 25px;
}

.final-div{


}

#item-main-div {
    height: 90%;
    width: 90%;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: ghostwhite;
}

#item-image{
    background: black;
    border-radius: 5px;
    height: 80%;
    justify-content: center;
    color: white;
    padding: 25px;
}
#item-image img{
    height: 250px;
    width: 350px;
    margin-top: 3%;
    margin-right: 10%;
    margin-bottom: 5%;
    justify-content: center;

}

#item-form{
    background: red;
    height: 80%;
    border-radius: 5px;
}

#form-div{
   height: 80%;
    margin-top: 20%;
    margin-bottom: 10%;

}
